.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("https://cdn.pixabay.com/photo/2016/07/02/12/21/eclipse-1492818_960_720.jpg");
  background-size: cover;
}
.registerTitle {
  font-size: 50px;
  color: white;
}
.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  color: white;
}
.registerForm > label {
  margin: 10px 0;
  font-size: 20px;
}
.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
}
.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(18, 154, 77);
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: red;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.s {
  color: red;
  margin-top: 10px;
}
